
.box{
    width:100px;
    height:100px;
    display:block;
    background-color: rgb(255, 196, 0) ;
    margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}

#box-move{
    animation: squeeze 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes squeeze{
    25%{ transform:  translateX(400px) scale(2,2); }
    50%{ transform:   scale(0.5,0.5); }
    75%{ transform:  translateX(-400px) scale(2,2);}
    100%{ transform: scale(0.5,0.5); }     
}
