.bigPicture{
    position: relative;
}

.div1{
    width: 300px;
    height: 300px;
    border: 5px solid purple;
    margin: 20px;
    position: relative;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
}

.div2{
    top: 0px;
    left: 120px;
    width: 50px;
    height: 50px;
    background-color: rgb(59, 160, 255);
    border: 0;
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 20px;
    position: absolute;
}

@keyframes change {
    /* Change from bottom left to bottom right a quarter way through*/
  25% { top: auto; right: 250; bottom: 250; left: auto; }
    /* Change from bottom right to top right half way through*/
  50% { top: 0; right: 250; bottom: auto; left: auto; }
    /* Change from top right to top left three quarters through*/
  75% { top: 0; right: auto; bottom: auto; left: 250; }
    /* Change from top left to bottom left at the end*/
  100% { top: auto; right: auto; bottom: 250; left: 250; }
}
