.box {
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgb(210, 194, 240), rgb(42, 30, 95));
    margin: 10px;
    height: 90px;
    width: 105px;
    text-align: center;
    float: left;
}

* {
    color: yellow;
}

td {
    width: 200px;
    height: 200px;
}

#shake {
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-duration: .5s;    
}

@keyframes shake {
    0%, 40%, 80% {transform: translate(1px, 1px) rotate(0deg);}
    10%, 50%, 90% {transform: translate(-1px, -1px) rotate(45deg);}
    20% , 60%, 95% {transform: translate(1px, 1px) rotate(0deg);}
    30%, 70%, 100% {transform: translate(-1px, -1px) rotate(-45deg);}
}

#shake:hover {
    animation-play-state: paused;
}

#fade {
    animation-iteration-count: infinite;
    animation-name: fade;
    animation-duration: 2s;
    animation-direction: alternate 
}

@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}


#jelly {
    animation-iteration-count: infinite;
    animation-name: jelly;
    animation-duration: 2s;
    animation-direction: alternate 
}

@keyframes jelly {
    0% {transform: skew(5deg, -35deg);}
    30% {transform: skew(-25deg, 5deg);}
    60% {transform: skew(2deg, -30deg);}
    100% {transform: skew(-10deg, 50deg);}
}

#bounce {
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate 
}

@keyframes bounce {
    0%, 40%, 80% {transform: translateY(0px);}
    20%, 60%, 90% {transform: translateY(20px);}
}

#tada {
    animation-iteration-count: infinite;
    animation-name: tada;
    animation-duration: 1s;
    animation-direction: alternate 
}

@keyframes tada {
    from{
        width: 105px;
        height: 90px;
    }
    to{
        width: 150px;
        height: 110px;
        background-image: none;
        background-color: yellow;
        color: purple;
        border: 3px dashed purple;
    }
}

#groove {
    animation-iteration-count: infinite;
    animation-name: groove;
    animation-duration: 2s;    
}

@keyframes groove {
    0%, 40%, 80% {transform: translate(1px, 0px);}
    0%, 40%, 80% {transform: skewX(10deg);}
    10%, 50%, 90% {transform: translate(-1px, 0px);}
    10%, 50%, 90% {transform: skewX(-10deg);}
    20% , 60%, 95% {transform: translate(2px, 0px);}
    20% , 60%, 95% {transform: skewX(-10deg);}
    30%, 70%, 100% {transform: translate(-2px, 0px);}
    30%, 70%, 100% {transform: skewX(0deg);}
}

#swing {
    animation-iteration-count: infinite;
    animation-name: swing;
    animation-duration: 1s;
    animation-direction: alternate 
}

@keyframes swing {
    0% {transform: translate(-20px, 0px);}
    100% {transform: translate(20px, 0px);}
}

#squeeze {
    animation-iteration-count: infinite;
    animation-name: squeeze;
    animation-duration: 1s;
    transition: width 1s, height 1s;
    animation-direction: alternate 
}

@keyframes squeeze {
    from{
        width: 105px;
        height: 90px;
    }
    to{
        width: 35px;
        height: 110px;
    }
}

#flicker {
    animation-iteration-count: infinite;
    animation-name: flicker;
    animation-duration: .5s;
    animation-direction: alternate 
}

@keyframes flicker {
    0%,20%,40%,60%,80%,100% {opacity: 1;}
    10%,30%,50%,70%,90% {opacity: 0;}
}

#jerk {
    animation-iteration-count: infinite;
    animation-name: jerk;
    animation-duration: 1s;
    animation-direction: alternate 
}

@keyframes jerk {
    0%, 70% {transform: translate(0px, 0px);}
    100% {transform: translate(20px, 0px);}
}

#blink {
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-duration: .5s;
    animation-direction: alternate 
}

@keyframes blink {
    0%,79% {opacity: 1;}
    80%, 100% {opacity: 0;}
}

#pop {
    animation-iteration-count: infinite;
    animation-name: pop;
    animation-duration: .5s;
    animation-direction: alternate 
}

@keyframes pop {
    0%, 50% {transform: scale(.1,.1);}
    100% {transform: scale(2,2);}
}

