html{
    width: 100%;
    height: 100%;
    background-color: green;
}

.yellow-box{
    background-color: yellow;
    width: 250px;
    height: 250px;
    margin: auto auto;
    animation: swing 5s;
    animation-iteration-count: infinite;
}

@keyframes swing{
    0%{
        transform: scale(1) translateX(-400px);
    }
    50%{
        transform: scale(.1) translateX(0px);
    }
    100%{
        transform: scale(1) translateX(400px);
    }
}
