
    .container{
        width: 500px;
        height: 500px;
        position: relative;
        margin: 20px;
    }
    #outerbox{          
        top: 50px;
        left: 50px;
        background-color: white; 
        border: 10px solid purple; 
        width: 300px;
        height: 300px;
       opacity: 0.8;
       display: inline;
       position: absolute;
    }

    #topbox {
        background-color: blue; 
        width: 80px; 
        height: 80px; 
        top:50px: 
        left:300px;
        z-index: 9;
        margin-left: 150px; 
        position: absolute;*/
    }

   /* .stack-top{
        z-index: 9;
        margin: 20px;  */
    }

    /*  0% {transform: skewX(-25deg) skewY(25deg)} inside keyframe
*/
