
.container{
        width: 500px;
        height: 500px;
        position: relative;
        margin: 20px;
    }
    #outerbox{          
        top: 50px;
        left: 50px;
        background-color: white; 
        border: 10px solid purple; 
        width: 300px;
        height: 300px;
       opacity: 0.8;
       display: inline;
       position: absolute;
    }

    #topbox {
        background-color: blue; 
        width: 80px; 
        height: 80px; 
        top:50px: 
        left:300px;
        z-index: 9;
        margin-left: 50px; 
        /*position: absolute;*/
        position: relative;
  		animation-name: mymove;
  		animation-duration: 5s;
  		animation-iteration-count: infinite;
    }

/*div {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
}*/

@keyframes mymove {
	0%	{transform: translate(0px, 50px)}
  25%   {transform: translate(220px, 50px)}
  50%  	{transform: translate(0px,350px)}
  100% {transform: translate(220px, 300px)}
  /*100% {transform: translate(0px, 50px)}*/
}
/*@keyframes mymove {
  0%   { from {left: 0px; top:50px;}
  	to {left: 220px; top:50px;}}
	25%  { from {left:220px; top:50px;}
  	to{left:0px; top: 300px;}}

  50%  {from {left:0px; top:300px;}
  	to{left:220px; top: 300px;}}

  100% {from {left:220px; top:300px;}
  	to{left:0px; top: 50px;}}
}*/

@keyframes mymove1 {
  from {left: 0px;}
  to {left: 220px;}
  }

  @keyframes mymove2 {
  	from {Left: 220px; top:50px;}
  	to{left:0; top: 350px;}
}

@keyframes mymove3 {
	from {left:0px; top:300px;}
  	to{left:220px; top: 300px;}
}

@keyframes mymove4 {
	from {left:220px; top:300px;}
  	to{left:0px; top: 50px;}
}

