div {
  width: 120px;
  height: 100px;
  border-radius: 12px;
  background-color: lightblue;
  background-image: linear-gradient(to bottom right, lightblue, blue);
}

th{
  padding: 50px;
  text-align: center;
}