.slide_pop_box{
    width: 100px;
    height:100px;
    background-color:orange;
    border:0;
    border-radius:5px;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin :20px;
    position: relative;
}
@keyframes slide{
    0%{transform:scale(1,1);left:0px; top:0px ;}
    10%{transform:scale(.2,.2);}
    35%{transform:scale(1,1);left:700px; top: 0px;}
    50%{transform:scale(.2,.2)}
    85%{transform:scale(1,1);left:0px;top:0px;}
   
}