.container {
    position: relative;
    width: 90%;
    height: 20%;
    margin: 10% 30%;
}

.outter_box {
    width: 600px;
    height: 600px;
    border: 5px solid #8e2de2;
}

.inner_box {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: -5% 0 0 -4%;
    background-color: skyblue;
    border: 2px solid black;
}

h3 {
    text-align: center;
    font-weight: 200;
    color: white;
    font-size: 30px;
}

@keyframes animation {
    /* 100% {transform: translateX(270px);} */
    0% {transform: translate(0, 0);}
    25% {transform: translate(600px, 0);}
    50% {transform: translate(600px, 600px);}
    75% {transform: translate(0, 600px);}
    100% {transform: translate(0, 0);}
}

.animation {
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}