.border_box{
  height: 400px;
  width: 400px;
  border-color: purple;
  background-color: white;
  padding: inherit;
  border-style: dotted;
  top: 50px;
  left: 200px;
}
.moving_box{
  height: 50px;
  width: 50px;
  background-color: skyblue;
  margin: 0px;
  border: 0px;
  animation-name: move;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 4s;
  animation-direction: normal;
}
@keyframes move {
  0%{
    transform: translate(-20px, -25px);
  }
  25%{
    transform: translate(375px, -25px);
  }
  50%{
    transform: translate(-20px, 375px);
  }
  75%{
    transform: translate(375px, 375px);
  }
  100%{
    transform: translate(-20px,-25px);
  }
}
